<!DOCTYPE html>
<html lang="<%= page.lang %>" prefix="og: http://ogp.me/ns#">

<%- partial('_partial/head') %>
<%- partial('_inline/google-analytics') %>

  <body>
	<%- partial('_partial/menu') %>
	
	<div class="container"><%- body %></div>

	<a href="#" class="scrollToTop"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>

	<%- partial('_partial/footer') %>
    <%- partial('_partial/scripts') %>
  </body>
</html>
