<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#">

<%- partial('_partial/head') %>

  <body>
	<%- partial('_partial/menu') %>
	
	<div class="container"><%- body %></div>

	<%- partial('_partial/footer') %>
    <%- partial('_partial/scripts') %>
  </body>
</html>
